[submodule "repositories/colour-science/gamut-mapping-ramblings"]
	path = research/repositories/colour-science/gamut-mapping-ramblings
	url = https://github.com/colour-science/gamut-mapping-ramblings
[submodule "repositories/jedypod/gamut-compress"]
	path = research/repositories/jedypod/gamut-compress
	url = https://github.com/jedypod/gamut-compress
